@if (apierror) {
<div class="alert alert-danger p-0 mt-1">
    <p class="m-0 p-1">{{apierror}}</p>
</div>
}
@if(!VAlert){
<div class="scanner-container">
    <zxing-scanner (scanSuccess)="onCodeResult($event)" (permissionResponse)="onPermissionResponse($event)">
    </zxing-scanner>
    <div class="scan-frame"></div>
</div>
}
@if (VAlert) {
<div class="ViewAlert position-fixed z-3 top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
    <div class="bg-white p-5 rounded">
        <div class="text-center my-4">
            <h1>{{SecriteCode}}</h1>
        </div>
        <div class="d-flex justify-content-between my-3">
            <button (click)="VAlert=false" class="btn btn-primary">تم</button>
        </div>
    </div>
</div>
}